layout: page
---
<div class="post">
  <article>
    {% if page.profiles %}
      {% for profile in page.profiles %}
        {% if forloop.first %}
          <div class="subheading" style="color: gray; font-size: 1.5em; margin-top: 1em;">Principal Investigator</div>
        {% elsif forloop.index == 2 %}
          <div class="subheading" style="color: gray; font-size: 1.5em; margin-top: 2em;">Research Assistant</div>
        {% endif %}

        <hr>
        <div class="profile float-{% if profile.align == 'left' %}left{% else %}right{% endif %}">
          {% if profile.image %}
            {% assign profile_image_path = profile.image | prepend: 'assets/img/' | default: '' %}
            {% assign profile_image_class = 'img-fluid z-depth-1' %}
            {% if profile.image_circular %}
              {% assign profile_image_class = profile_image_class | append: ' rounded-circle' %}
            {% else %}
              {% assign profile_image_class = profile_image_class | append: ' rounded' %}
            {% endif %}
            {% capture sizes %}(min-width: {{ site.max_width }}) {{ site.max_width | minus: 30 | times: 0.3 }}px, (min-width: 576px) 30vw, 95vw{% endcapture %}
            {% include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=profile.image %}
          {% endif %}

          {% if profile.more_info %}
            <div class="more-info">{{ profile.more_info }}</div>
          {% endif %}
        </div>

        <div class="clearfix">
          {% if profile.content %}
            {% capture profile_content %}{% include_relative {{ profile.content }} %}{% endcapture %}
            {{ profile_content | markdownify }}
          {% else %}
            {{ content }}
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}

    <div class="subheading" style="color: gray; font-size: 1.5em; margin-top: 2em;">Collaborators</div>
    <div class="collaborators" style="margin-top: 1em; line-height: 1.6;">
      <div style="margin-bottom: 1.5em;">
        <p><strong>Richard Futrell</strong></p>
        <p>Associate Professor</p>
        <p>Department of Language Science, University of California, Irvine</p>
        <p>
          <a href="https://sites.socsci.uci.edu/~rfutrell/" target="_blank" style="text-decoration: none; color: #0066cc;">
            Website
          </a>
        </p>
        <p>
          <a href="mailto:rfutrell@uci.edu" style="text-decoration: none; color: #0066cc;">
            rfutrell@uci.edu
          </a>
        </p>
      </div>
      <div style="margin-bottom: 1.5em;">
        <p><strong>Connor Mayer</strong></p>
        <p>Assistant Professor</p>
        <p>Department of Language Science, University of California, Irvine</p>
        <p>
          <a href="https://www.socsci.uci.edu/~cjmayer/" target="_blank" style="text-decoration: none; color: #0066cc;">
            Website
          </a>
        </p>
        <p>
          <a href="mailto:cjmayer@uci.edu" style="text-decoration: none; color: #0066cc;">
            cjmayer@uci.edu
          </a>
        </p>
      </div>
    </div>
  </article>
</div>
